# Git
.git
.gitignore
.gitattributes

# IDE
.idea
*.iml
.vscode

# Gradle
.gradle
build

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
HELP.md
